.cartContainer {
    width: 88%;
    margin: .8rem auto;
}
.cartContainer ul {
    margin: 0 auto;
    border: .1px solid var(--second-color-light);
    border-radius: .4rem;
    padding: .8rem;
}
/* ===================== intro panier ===================== */
.cartSummary {
    margin-bottom: 1.6rem;
    font-family: 'TxtFont', sans-serif;
}
.cartSummary p {
    color: var(--second-color);
    font-size: .8rem;
}
.cartSummary span {
    color: var(--red-color);
    font-size: 1rem;
}
/* ======================================================== */
/* ======================= CART ITEM ====================== */
.cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .8rem;
}
/* ================ IMAGES ================ */
.image {
    max-width: 4rem;
    height: auto;
    object-fit: cover;
    border-radius: .4rem;
}
/* == CONTAINER (style span par absence) == */
.detailsCartItem {
    min-height: 4rem;
    color: var(--second-color);
    font-family: 'TxtFont', sans-serif;
    font-size: .8rem;    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
/* ================ TITLE ================= */
.detailsCartItem h3 {     
    font-size: 1rem;
}
/* ========== QUANTITY CONTROLS =========== */
.quantityControls {
    min-width: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.quantityBtn {
    min-width: 2rem;
    background-color: var(--first-color);
    border: none;
    cursor: pointer;
}
.quantityControls span{
    min-width: 2rem;
    color: var(--forth-color-dark)
}
/* ============= TOTAL PRICE ============== */
.itemTotalPrice {
    width: 100%;
    font-size: 1rem;
}
/* ============ DELETE ITEM BTN =========== */
.deleteBtn {
    margin: 0 auto;  
    color: var(--second-color);
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteBtn svg{
    min-width: 2rem;
    height: 1rem;
    margin: 0 auto;  
    color: var(--second-color);
}
/* ======================================== */
/* ======================================================== */
.totalContainer {
    margin: .8rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--second-color);
    font-family: 'TxtFont', sans-serif;
    font-size: 1.2rem;
}
.totalContainer div {
    margin: .8rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.totalContainer span {
    color: var(--second-color-light);
    font-size: 1rem;
}
.emptyMessage {
    text-align: center;
    color: var(--third-color);
    font-weight: bold;
}
/*==========     CARTACTION     ==========*/
.cartActions {
    margin: 2rem auto;
}
.cartActions p{
    width: 100%;
    margin: .8rem auto;
    color: var(--second-color);
    font-size: .8rem;
    font-family: 'TxtThinFont', sans-serif;
    text-align: center;
}
/*==========     CARTICON     ==========*/
.icon {
    width: 1rem;
    height: 1rem;
    color: var(--second-color);
    background-color: var(--first-color);
}
/*chiffre du compteur icone panier*/
.itemCount {
    background-color: var(--forth-color);
    color: var(--second-color);
    border-radius: 50%;
    padding: 0.1rem 0.3rem;
    font-size: 0.6rem;
}
/* ==================== MODALE ==================== */
.modalOverlay {
    position: fixed;
    top: 4.4rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 850;
}
.modalContent {
    width: 100%;
    height: 100%;
}
.modaleHeader_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}




.deliveryProgress {
    margin-top: 1rem;
  }
  
  .progressBarWrapper {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 0.5rem;
    overflow: hidden;
  }
  
  .progressBar {
    height: 100%;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
  }

  



  .emptyCart {
    width: 100%;
    margin: 4rem auto;
    color: var(--second-color-light);
    font-size: 1rem;
    font-family: 'TxtFont', sans-serif;
    text-align: center;
  }


  @media (min-width: 769px) {
    .itemCount {
        padding: .2rem .6rem;
        font-size: 1rem;
    }
    }