.cartContainer {
    width: 88%;
    margin: 1.6rem auto;
    background-color: var(--first-color);
}

.title {    
    font-family: 'MainTitleFont', sans-serif;
    text-align: center;
    color: var(--second-color);
    font-size: 1.6rem;
    margin-bottom: 2.4rem;
}

.cartItem {
    width: 100%;
    margin: .4rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--third-color);
}
.cartItemElement {
    height: 100%;
}



/* ========================== IMAGES ========================== */
.imageContainer {
    width: 25%;
    height: auto;
}
.image {
    max-width: 6rem;
    height: auto;
    object-fit: cover;
    border-radius: .4rem;
}

.details {    
    width: 100%;
    font-family: 'TxtFont', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}
.details div{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cartItemElement h3 {        
    color: var(--second-color);    
    font-family: 'MainTitleFont', sans-serif;
    font-size: 1rem;
    text-align: center;
}
.cartItemElement p {    
    color: var(--forth-color); 
    font-size: 1rem;
    text-align: center;
}
.quantityControls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.quantityBtn {
    width: 100%;
    padding: 1.2rem;
    color: var(--forth-color);
    cursor: pointer;
    font-family: 'TxtFont', sans-serif;
    font-size: 1.2rem;
}
/*HOVER*/
.quantityBtn:hover {
    transform: scale(1.1);
}
.quantityValue {    
    color: var(--second-color);
    font-family: 'TxtFont', sans-serif;
    font-size: 1rem;
}

.totalContainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    font-weight: bold;
    color: var(--forth-color);
    font-family: 'MainTitleFont';
    font-size: 1.2rem;
}
.emptyMessage {
    text-align: center;
    color: var(--third-color);
    font-weight: bold;
}


.itemTotalPrice {
    font-family: "MainTitleFont", sans-serif;
    font-size: 1.2rem;
    color: var(--forth-color);
}


.checkoutButton {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.checkoutButton:hover {
    transform: scale(1.1);
    background-color: var(--primary-dark-color);
}


.cartContainer {
}

.cartActions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.removeButton {
    background-color: red;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkoutButton {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.checkoutButton:hover {
    transform: scale(1.1);
    background-color: var(--primary-dark-color);
}
















/*==========     CARTICON     ==========*/
.cartIconContainer {
    position: relative;
    cursor: pointer;
}
.iconWrapper {
    position: relative;
    display: inline-block;
}
.icon {
    width: 1.4rem;
    height: 1.4rem;
    color: var(--second-color);
}
.itemCount {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    background-color: var(--forth-color);
    color: white;
    border-radius: 50%;
    padding: 0.1rem 0.3rem;
    font-size: 0.6rem;
    font-weight: bold;
}
/* ==================== MODALE ==================== */
.modalOverlay {
    position: fixed;
    top: 4.8rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.modalContent {
    width: 100%;
    height: 90%;
    padding: .8rem;
    background-color: var(--first-color);
}
.modaleHeader_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}