@import './fonts.css';

:root {

    /*===============     COLORS     ===============*/
    --first-color-light: #ffffff;
    --first-color: #fffcf5;
    --first-color-dark: #e7e3da;

    --second-color-light: #B56A43;
    --second-color: #552D11;
    --second-color-dark: #000000;
    
    --third-color-light: #EBD1BD;
    --third-color: #E6C5A3;
    --third-color-dark: #D5B696;
    
    --forth-color-light: #00ffd0;
    --forth-color: #00d8b0;
    --forth-color-dark: #008169;
    
    --fifth-color-light: #ffdcee;
    --fifth-color: #ffb8fb;
    --fifth-color-dark: #cd90c0;

    --dark-color-light: #9b9b9b;
    --dark-color: #1f1f1f;
    --dark-color-dark: #000000;

    /*          ROUGE (reserver pour les rejets, ou attirer l'oeil)          */
    --red-color-light: #c36464;
    --red-color: #ba0000;
    --red-color-dark: #620000;
    /*          VERT (reserver pour les autorisation)          */
    --green-color-light: #64c379;
    --green-color: #0cba00;
    --green-color-dark: #00620b;
    /*===============     BUTTON:HOVER     ===============*/
    
}
