/* ========= CONTAINER ========= */
.inputContainer {
    width: 100%;
    margin: 0.4rem auto;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
}
.label {
    width: 32%;
    margin-bottom: 0.2rem;
    color: var(--second-color);
    font-size: 0.8rem;
    font-family: 'TxtThinFont', sans-serif;
    font-weight: bold;
    text-align: center;
}
.input {
    width: 72%;
    height: 2.4rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: .1rem solid var(--first-color-dark);
    color: var(--forth-color-dark);
    font-family: 'TxtFont', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    transition: border-color 0.1s ease, box-shadow 0.1s ease;
    flex: 1;
}
.input:focus {
    outline: none;
    border-color: var(--forth-color-light);
    box-shadow: 0 0 0.3rem var(--forth-color-dark);
}
.input:disabled {
    background-color: var(--first-color-dark);
    color: var(--second-color-dark);
    cursor: not-allowed;
}
@media (min-width: 769px) {
  .column { flex-direction: row; }
  .label { text-align: left; }
}
@media (min-width: 1024px) {
  .column { width: 100%; }
  .input { padding: 0.8rem; }
}