.homeContainer {
    margin: 0 auto;
    background-color: #ffeafc;
}
.mainTitle {
    width: 100%;
    text-align: center;
    margin: .4rem;
    padding: .8rem;
    font-family: 'paladinsstraight', sans-serif;   
    color: #0b255d;
   
}


.introductionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 1.2rem;
    color: #0b255d;
}
.content {
    flex: 1;
}
.text {
    font-size: 1rem;
    line-height: 1.2;
    text-align: justify;
    font-family: 'coolveticaRgIt', sans-serif;   
}
.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
}
.image {
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
