@import '../../styles/variables.css';

body.noScroll {
    overflow: hidden;
    height: 100vh;
}
.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}
.headerTop {
    width: 100%;
    background-color: var(--first-color);    
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}
.title {
    color: var(--second-color);
    font-family: 'MainTitleFont', sans-serif; 
    font-size: 1.2rem;
}
/* Menu icônes en haut à droite */
.topNav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 1000; 
}
/* BUTTONS */
.IconNav {  
    border: none;     
    padding: .8rem;
    cursor: pointer;    
    background-color: var(--first-color);

}
/*HOVER*/
.IconNav:hover {
    transform: scale(1.2);    
}

.icon {
    width: 1.4rem;
    height: 1.4rem;    
    border: none;
    color: var(--second-color);
}

/* Conteneur du menu (pour couvrir la hauteur restante) */
.navWrapper {
    position: fixed;
    top: 4.8rem; /* Hauteur du header */
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem); 
    background-color: var(--first-color);
    overflow-y: auto; /* Si trop de contenu */
    z-index: 1000; 
}

/* Menu général */
.nav {
    width: 100%;
    color: var(--second-color);
    font-family: 'TxtFont', sans-serif; 
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav a, .subMenuWrapper a {
    width: 100%;
    padding: .8rem;
    text-decoration: none;
}

.subMenuWrapper {
    width: 100%;
    text-decoration: none;
    font-family: 'TxtFont', sans-serif; 
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.subMenuWrapper button{
    background-color: var(--first-color);
    color: var(--forth-color);
    font-family: 'TxtFont', sans-serif;
    border: none;     
    padding: .8rem;
    cursor: pointer; 
}
/*HOVER*/
.subMenuWrapper button:hover {
    transform: scale(1.1);    
}




/* Animation de glissement du menu */
@keyframes slideIn {
    from {
        transform: translateX(-100%); /* Menu caché sur la gauche */
    }
    to {
        transform: translateX(0); /* Menu au centre de l'écran */
    }
}
@keyframes slideOut {
    from {
        transform: translateX(0); /* Menu au centre de l'écran */
    }
    to {
        transform: translateX(-100%); /* Menu caché sur la gauche */
    }
}
/* Ajoutez une classe pour l'animation de glissement */
.navWrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translateX(-100%); /* Le menu commence caché */
    transition: transform 0.3s ease-in-out;    
    background-color: var(--first-color);
}
.navWrapper.open {
    animation: slideIn 0.5s forwards; /* Animation pour glisser */
}
.navWrapper.closed {
    animation: slideOut 0.5s forwards; /* Animation pour fermer */
}
















.welcomeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'TxtThinFont', sans-serif;
    font-size: .8rem;
    margin: 0 1rem;
    
}