.container {
    width: 100%;
    height: 4rem;
    box-shadow: .4rem 0 .4rem var(--second-color-dark);
    background-color: var(--fifth-color-light);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;    
    font-family: 'TxtFont', sans-serif; 
}
.patch {
    width: 5.6rem;
    height: 5.6rem;
    margin-top: -1rem;
    margin-left: -.4rem;
    background-color: var(--forth-color);
    color: var(--first-color-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-shadow: .1rem 0 .1rem var(--second-color-dark);
    box-shadow: -2px 4px 4px var(--second-color-dark);    animation: spin 1s linear infinite;
}
@keyframes spin {
    0%   { transform: rotateZ(-8deg); }
    50%  { transform: rotateZ(-12deg);}
    100% { transform: rotateZ(-8deg); }
}
.content {
    width: 70%;
    padding: 0 .4rem;
    color: var(--second-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.content p {
    margin: 0;    
    text-transform: uppercase;
}
.content p strong {
    font-size: 1rem;
    font-weight: bolder;
}
.highlight {
    color:  var(--forth-color-dark);    
    font-weight: bolder;
}