.filters {
    width: 88%;
    margin: .8rem auto;
    font-family: 'TxtThinFont';
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}
.filters label {
    color: var(--second-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}
.filters select {
    color: var(--second-color-dark);
    border: none;
    width: 6rem;
}
.filters .checkbox {
    margin: .5rem;
}
@media (min-width: 768px) {
    .filters, .filters select { font-size: 1rem; }
    .filters { width: 56%; }
}
@media (min-width: 1024px) {
    .filters { width: 40%; }
    .filters select { width: 8rem; }
}