/* ========= OVERLAY ========= */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 900;
}
/* ========= POPUP ========= */
.popup {
    width: 96%;
    height: 96%;
    background-color: var(--first-color-light);
    box-shadow: 0 -1rem 4rem var(--second-color-dark);
    border-radius: .8rem;
    position: relative;
    will-change: transform;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
}
/* ========= HEADER ========= */
.modalHeader {
    width: 80%;
    margin: .8rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
.modalTitle {
    margin: 0;
    color: var(--second-color);
    font-family: 'MainTitleFont', sans-serif;
    font-size: 2rem;
    text-shadow: 0 .2rem var(--fifth-color);
}
/* ========= CONTENT =========*/
.content {
    overflow-y: auto;
    flex: 1;
}
@media (min-width: 769px) {
    .popup {
        width: 92%;
        height: 92%;
    }
    .modalHeader {
        margin: 1.6rem auto;
        justify-content: flex-end;
    }
    .modalTitle {
        font-size: 2.4rem;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .content {
        margin: 1.6rem 0;
    }
}
@media (min-width: 1024px) {
    .overlay {
        justify-content: flex-end;
        align-items: center;
    }
    .popup {
        width: 64%;
        height: 100%;
    }
}