/* ========================== GRID LAYOUT ========================== */
 /* === ProductsGrid === */
.grid {
    background-color: var(--first-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: .8rem;
    padding: .8rem;
}
